:root {
  /* Color */
  --clr-action-parent: #fdfdfd;
  --clr-h1: #1d2534;
  --clr-h3: #fdfdfd;
  --clr-p: #fdfdfd;
  --clr-span: #fdfdfd;
  --clr-brd: #808082;
  --clr-accent: #3fb780;
  /* fz */
  --fz-title: 16px;
  --fz-item: 14px;
  --fz-dataattr: 10px;
  --sz-dataattr: 12px;
  /* padding & margin */
  --pad-otr: 10px;
  /* Transition */
  --clr-trans: 1s all linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Common Functions */

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  height: 4px; /* height of horizontal scrollbar */
  width: 4px; /* width of vertical scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-action-parent);
  /* padding-left: 2px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-accent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
}
hr {
  border: 1px solid var(--clr-brd);
}

/* Main body */
.container-wrapper {
  display: flex;
  background-color: #f6f6f6;
}
/* Navigation styling */
.navigation {
  height: 100vh;
  min-width: 300px;
  flex: 1;
  overflow: hidden;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-wrapper {
  height: 100%;
  width: 100%;
  background-color: var(--clr-h1);
  color: var(--clr-span);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
}
.subTitle {
  color: var(--clr-brd);
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.searchoptions,
.filter,
.uploading {
  flex: 1;
}

.searchoptions {
  display: flex;
  gap: 10px;
  align-items: center;
}
.searchoptions input {
  width: 100%;
  height: 40px;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--clr-brd);
  border-radius: 7px;
  padding-left: 10px;
  color: var(--clr-action-parent);
  text-transform: uppercase;
}

.searchoptions button {
  display: none;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  padding-inline: 8px;
  width: 100%;
  height: 100%;
  flex: 1;
}

#searchicon circle,
#searchicon line {
  stroke: var(--clr-brd);
}
#searchicon circle,
#searchicon line {
  stroke-width: 4px;
}
.searchParams {
  color: var(--clr-accent);
  font-size: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  width: 100%;
}
.searchParams span {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.subtext {
  visibility: hidden;
}
#filterSearch:is(:focus) ~ .subtext {
  visibility: visible;
}
/* Filter Item */
.filter,
.contentTree,
.filtersAdded {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.filtersAdded {
  flex-wrap: wrap;
  flex-direction: row;
}
.filterItem {
  font-size: 12px;
  padding: 8px;
  border-radius: 5px;
  background-color: var(--clr-p);
  color: var(--clr-h1);
  cursor: pointer;
  user-select: none;
}

/* Tree View */
.contentTree {
  flex: 6;
  overflow: hidden;
}
.list {
  padding-left: 20px;
}
/* Side bar */
/* Testing */
.list,
.list ul,
.list li {
  position: relative;
  transition: 1s all linear;
}

.list ul {
  list-style: none;
  padding-left: 22px;
  /* padding-top: 12px; */
}
.insdeTree {
  padding-left: 32px;
  /* padding-block: 12px; */
}
li {
  padding-block: 12px;
}
.list li::before,
.list li::after {
  content: "";
  position: absolute;
  left: -20px;
}
.list li::before {
  border-top: 1px dashed var(--clr-brd);
  top: 27px;
  width: 14px;
}
.list li::after {
  border-left: 1px dashed var(--clr-brd);
  height: 100%;
  width: 0px;
  top: 8px;
}
.list ul > li:last-child::after {
  height: 18px;
}
.proctype,
.proctype-title {
  font-weight: 400;
  color: var(--clr-brd);
  font-size: 16px;

  cursor: pointer;
}
.procedureLinks {
  font-size: 14px;
  font-weight: 200;
  padding-block: 12px;
  color: var(--clr-nav-item);
  cursor: pointer;
}
.procedureLinks:hover {
  color: var(--clr-accent);
}
.proclist {
  transition: 1s all ease;
}
.proclist li::before {
  top: 20px;
}
.proclist li::after {
  top: 3px;
}
.proclist ul > li:last-child::after {
  height: 18px;
}

/* Nav uploading */
.uploading {
  display: flex;
  flex-direction: column;

  gap: 10px;
  width: 100%;
}

.fileEffDate {
  font-size: 14px;
  font-weight: 200;
  color: var(--clr-accent);
  transition: 1s all ease;

  /* position: absolute; */
  transition: 1s all ease-in;
}
.fileEffDate.active {
  opacity: 1;
  /* transform: translateY(-40px); */
}
#whatFilter {
  cursor: none;
}

#fileUpload {
  display: none;
}
.fileUpload-lbl {
  font-size: 16px;

  background-color: var(--clr-h3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-h1);
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
}
/* Break Point */
@media only screen and (max-width: 1023px) {
  .content {
    flex: 3;
  }
}
/* Main Content Styling */
.contentdiv {
  flex: 6;
  height: 100vh;
  overflow: hidden;
  padding: 10px;
}
/* Data tables */
.proceduretable,
.minimaTable {
  border-collapse: collapse;
  background-color: #fff;
  width: 100%;
  overflow-x: auto;
  border: 1px solid #f1f2f6;
}
.heading {
  text-align: center;
}

.separator {
  min-width: 20px;
  height: 0px;

  border: 1px solid #d9d9d9;
  transform: rotate(90deg);
}
td,
th {
  text-align: left;
  font-size: 1rem;
  border-left: none;
  border-right: none;
  padding-block: 14px;
  padding-inline: 10px;
}
td {
  border: 1px solid #e9e9e9;
  /* border: 1px solid #f5f5f5; */
}
tr:is(.cont:hover) {
  background-color: #f6f7f7;
  color: var(--clr-accent);
}
.proceduretable th,
.minimaTable th {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.5px;
  padding-block: 20px;
  padding-inline: 10px;
}
.data {
  display: none;
}

.minimaTable > .context {
  color: #808082;
}

.tabulate {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
.table-wrapper,
.wrapper {
}
.wrapper {
  height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
#readerFile {
  display: none;
}
#TrailFileSelector {
  cursor: pointer;
}
.first {
  position: sticky;
  top: 0;
  background: white;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#procValue,
.procheader {
  display: flex;
  gap: 14px;
  align-items: center;
}
#procValue {
  flex-wrap: wrap;
}

#procValue .content {
  color: black;
  letter-spacing: 1px;
  padding-inline-start: 9px;
}

.content {
  /* font-size: 16px; */
  color: #eb1d36;
  font-weight: 500;
  transition: 1s;
}
.context {
  color: #808082;
  font-size: 0.85rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}
@media print {
  .noprint {
    display: none !important;
  }

  .printable {
    display: block !important;
    overflow: visible;
  }
}

/* Not to touch predefined section */
.onlystorage {
  position: absolute;
  top: 0;
  z-index: -1;
  display: none;
}
.proctype {
  display: flex;
  gap: 10px;
  align-items: center;
}
.proctype::after {
  content: attr(data-parent);
  width: var(--sz-dataattr);
  height: var(--sz-dataattr);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font-size: var(--fz-dataattr);
  color: var(--clr-action-parent);
  border-radius: 50%;
  background-color: var(--clr-accent);
}
